$enumera_gray: #6A7789;
$enumera_dark_blue: #05213B;
$enumera_blue: #5998B4;
$enumera_light_blue: #69C6E2;
$enumera_green: #5BB0A6;
$enumera_red: #DC4B3F;
$enumera_light_gray: #CED2D7;
$enumera_white: #F9F9F9;
