header.masthead {
  position: relative;
  background-color: #4A6180;
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-family: 'Times';
    font-size: 5rem;
  }
  h4 {
    font-weight: normal;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 5rem;
    }
  }
}
