// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin heading-animation {
  svg {
      display: block;
      font: 10.5em 'Montserrat';
      width: auto;
      height: 50px;
  }
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
      -webkit-animation: stroke-offset 5.5s infinite linear;
      -moz-animation: stroke-offset 5.5s infinite linear;
      -o-animation: stroke-offset 5.5s infinite linear;
      -ms-animation: stroke-offset 5.5s infinite linear;
  }
  .text-copy:nth-child(1){
  	stroke: #4D163D;
  	animation-delay: -1;
  }
  .text-copy:nth-child(2){
  	stroke: #840037;
  	animation-delay: -2s;
  }
  .text-copy:nth-child(3){
  	stroke: #BD0034;
  	animation-delay: -3s;
  }
  .text-copy:nth-child(4){
  	stroke: #BD0034;
  	animation-delay: -4s;
  }
  .text-copy:nth-child(5){
  	stroke: #FDB731;
  	animation-delay: -5s;
  }
  @keyframes stroke-offset{
  	100% {stroke-dashoffset: -35%;}
  }
  @-webkit-keyframes stroke-offset{
  	100% {stroke-dashoffset: -35%;}
  }
  @-moz-keyframes stroke-offset{
  	100% {stroke-dashoffset: -35%;}
  }
  @-o-keyframes stroke-offset{
  	100% {stroke-dashoffset: -35%;}
  }
  @-ms-keyframes stroke-offset{
  	100% {stroke-dashoffset: -35%;}
  }
}
